html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #c9c9c9;
}



body {
  margin: 0;
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: black;
  color: #c9c9c9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: auto;
  min-height: 95%;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  font-size: 1.2em;
  text-align: center;
  word-wrap: normal;
  color: #f5f5f5;
}

h2 {
  font-size: 1.2em;
  /* text-align: center; */
  word-wrap: normal;
  /* color: #F87217; */
}
.card {
  margin: 0;
  border-radius: 20px;
  border: 2px solid #444444;
  padding: 20px;
  text-justify: newspaper;
  text-align: justify;
  position: relative;
  background-color: #0f0f0f;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Remove numbers/bullets from day headers in the all logs list -  only this line has been added by AI */
#allLogList > li {
  list-style: none;
}
li div {
  display: grid;
  grid-template-columns: 1fr 2fr 40px;
  gap: 20px;
}
.toLog {
  resize: none;
  field-sizing: content;
  border: none;
  outline-style: hidden;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* text-justify: newspaper; */
  text-align: start;
  padding: 2px;
  color: #c9c9c9;
  justify-content: center;
  align-content: flex-start;
}
.entry {
  resize: none;
  field-sizing: content;
  background: transparent;
  border: none;
  outline-style: hidden;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* text-justify: newspaper; */
  text-align: start;
  /* text-justify: inter-word; */
  padding: 2px;
  padding-left: 20px;
  color: #c9c9c9;
  justify-content: center;
  align-content: flex-start;
}
.entry:focus {
  outline-style: none;
}
/* .delete {
  background: transparent;
  color: #c9c9c9;
  font-family: sans-serif;
  justify-content: flex-start;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.delete:hover {
  color: #F87217;
} */
.head {
  display: grid;
  grid-template-columns: 80px 80px 1fr;
  text-align: center;
}

.log-head {
  color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  column-gap: 12px;
  /* border: 1px solid #f5e5cd; */
  padding: 0;
}

#newLog {
  width: 100%;
  resize: none;
  overflow: hidden;
  field-sizing:content;
  background: transparent;
  border-radius: 20px;
  outline: none;
  border: 2px solid #444444;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-justify: newspaper;
  text-align: justify;
  padding: 20px;
  color: #c9c9c9;
  justify-content: center;
  align-content: center;
  height:min-content;
  margin: 0;
}
.button {
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #F87217;
  color: #f5f5f5;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 20px;
  border: 2px solid #e25e06;
  text-justify: newspaper;
  text-align: justify;
  height: 70px;
  width: min-content;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  white-space: nowrap;
  visibility: inherit;
}
.button:hover {
  background-color: #e25e06;
}

.sir-img {
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
  border: 2px solid #444444;
  height: 67px;
  aspect-ratio: 1;
  /* background-image: url("image/image.png"); */
  background-image: url("image/anya.jpg");
  /* background-image: url("image/loid.jpg"); */
  background-repeat: no-repeat;
  background-size:cover;
  background-clip: padding-box;
  background-position: center;
  margin: 0;
}

.hidden {
  display: none !important;
}